@charset "utf-8";
.menu_link {
}
.bj_wanita_link {
	background-color: rgb(255,204,255);
}
.bj_anak {
	background-color: rgb(255,204,255);
}
.bj_pria {
	background-color: rgb(255,204,255);
}
.blazer_link {
}
.blouse_link {
}
